/* global styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #fca311;
  --primaryDarkColor: #c02c03;
  --secondaryColor: #14213d;
  /* --textColor: #000000; */
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #edf2f4;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #000000;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #ef233c;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --navbarShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

body {
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainWhite);
}
img {
  width: 100%;
  display: block;
}

.navbar {
  background-color: var(--primaryColor);
  height: 5rem;
  display: flex;
  align-items: center;
  /* border-bottom: 2px solid var(--primaryColor); */
  box-shadow: var(--navbarShadow);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.nav-logo {
  margin-top: 1.5rem;
  display: flex;
}
.nav-logo > h2 {
  font-size: 2rem;
  font-weight: 800;
  background-color: var(--secondaryColor);
  border-top-left-radius: 20px;
  padding: 10px;
}
.nav-icon {
  margin-top: 5px;
  font-size: 4rem;
  padding: 10px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: var(--secondaryColor);
  border-bottom: 5px solid var(--secondaryColor);
}
